.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-title{
  min-width: 500px;
}

.card-title{
  background-color: white;
}

.authorName{
  /* change color of href link */
  color: #282c34;
  /* hide underline on href link */
  text-decoration: none;
}

.authorName:hover{
  /* change color of href link when hovering */
  color: #198754;
}

.authorNameFixed{
  color: #282c34;
}

.btn-lg{
  min-width: 530px;
}

.btn-md{
  min-width: 225px;
}

.btn-outline-dark:hover{
  /* change color of btn when hovering */
  color: #198754;
  background-color: #052516;
}